@import "tailwindcss";

@theme {
  --color-brand-royal-green: #012a17;
  --color-brand-black: #050505;
  --color-brand-white: #ffffff;
}

@layer base {
  :root {
    --background: var(--color-brand-white);
    --foreground: var(--color-brand-black);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--color-brand-black);
      --foreground: var(--color-brand-white);
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
