@import "tailwindcss";

@theme {
  --color-brand-royal-green: #012a17;
  --color-brand-black: #050505;
  --color-brand-white: #ffffff;
  
  --animate-marquee: marquee 30s linear infinite;
  
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}

@layer utilities {
  [dir="rtl"] .animate-marquee {
    animation-name: marquee-rtl;
  }
}

@keyframes marquee-rtl {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

@layer base {
  :root {
    --background: var(--color-brand-white);
    --foreground: var(--color-brand-black);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--color-brand-black);
      --foreground: var(--color-brand-white);
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
